body { background-color: white; color: black; }
tr.even { background-color: #dddddd; }
tr.local { font-weight: bold; }
span.correct { color: green; }
colgroup.score { width: 9ex; }
td { padding-left: 5px; padding-right: 5px; }
