body { background-color: white; }
tr.even { background-color: #dddddd; }
tr.local { background-color: #afafff; }
span.correct { font-weight: bold; color: green; }
colgroup.score { width: 9ex; }
td { padding-left: 5px; padding-right: 5px; }
