##
# An example config file for the abacus marker.
##

[logger]
method=file
filename=stderr

[server]
address=acm-server.cs.up.ac.za
service=7368
cacert=certs/cacert.crt
username=marker1
password={l3c7R0mrk

[compilers]
c=/usr/bin/gcc
c++=/usr/bin/g++

[java]
compiler=/usr/bin/javac
runtime=/usr/bin/java
policy=conf/java.policy

[python]
interpreter=/usr/bin/python
compiler=/usr/bin/python_compile.py

[python3]
interpreter=/usr/bin/python3
compiler=/usr/bin/python_compile.py

[marker]
workdir=/tmp/abacus-marker-XXXXXX
runlimit=bin/runlimit
user=nobody
group=nobody
