[modules]
moddir = modules
peermessenger = udpmessenger
dbconnector = dbmysql
support = user,timer,submission,standings
actions = auth,passwd,adduser,addserver,whatami,problemtypes,problemmanip,status,serverlist,submit,events,startstop,mark,problem_subscription,clarify,contesttime,standings
problemtypes = testcasedriventype

[udpmessenger]
bind = all
port = 7368
maxfragmentsize = 1000
checksumseed = 1976534597
cipher = aes256
keyfile = conf/rijndael.key
ivfile = conf/rijndael.iv
# These timings is in micro seconds.
init_delay = 1000
min_delay = 100
max_delay = 1000000

[logger]
method=file
filename=stderr

[mysql]
host=localhost
port=3306
db=abacus
user=abacus
password=counting beeds

[clientlistener]
port = 7368
x509 = certs/chimera.crt
private = certs/chimera.key
ciphers = HIGH

[initialisation]
type=master
name=chimera

[workers]
min_idle=5
max_idle=10
max=100
init=7

[init_attribs]
ip = 127.0.0.1
udppeerport = 7368
marker = yes
